<div class="container">

    <div class="entry-text">
        <div class="entry-title">{{content.title}}</div>
        <div class="entry-copy">{{content.data}}</div>
    </div>
    <h2>Why doesn't this show up?{{content}}</h2>

    <div class="row">
        <div class="row">
            <div class="col-sm-8">

                <h4 class="page-header">Basic Information</h4>
                <form role="form">
                    <div class="form-group float-label-control">
                        <label for="">Firstname</label>
                        <input type="text" class="form-control" placeholder="Firstname">
                    </div>
                    <div class="form-group float-label-control">
                        <label for="">Lastname</label>
                        <input type="text" class="form-control" placeholder="Lastname">
                    </div>
                    <div class="form-group float-label-control">
                        <label for="">Email</label>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group float-label-control">
                        <label for="">Re-type Email</label>
                        <input type="email" class="form-control" placeholder="Re-type Email">
                    </div>
                </form>


                <h4 class="page-header">Password Managment</h4>
                <form role="form">
                    <div class="form-group float-label-control">
                        <label for="">Current Password</label>
                        <input type="password" class="form-control" placeholder="Current Password">
                    </div>

                    <div class="form-group float-label-control">
                        <label for="">Password</label>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group float-label-control">
                        <label for="">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password">
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>