<section>
    <h1 app-color="green" app-style="italic">{{page.heading}} </h1>
    <p>This is the contact us page</p>
    <label class="checkbox">
        <input type="checkbox" ng-model="oneAtATime">
        Open only one at a time
    </label>

        <accordion close-others="oneAtATime" >
<!--
            <accordion-group heading="Static Header, initially expanded" is-open="true">
                <div class="" ui-view="viewA">
                    Hello from A.
                </div>
            </accordion-group>
-->
            <accordion-group heading={{item.title}} ng-repeat="item in content" is-open="false">
                <div class="" ui-view="viewA">

                </div>
            </accordion-group>
    </accordion>
    View ACancel: {{ cancel }} <br>
    View ACancel: {{ view }} <br>
    <button ng-click="cancel()">
        Increment
    </button>
</section>